body {
    font-family: 'Roboto', sans-serif;
    background-color: #eeeeee;
    padding: 5px;
}

.card {
    text-transform: capitalize;
    background: #EEDDDD;
    min-width: 250px;
    width: max-content;
    padding: 5px;
    line-height: 1.6;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-left: 10px solid #054d05;
}

.card p {
    margin: 0;
}

.card div {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
    gap: 20px;
    align-items: center;
}

.card div button {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    border: 1px solid #000;
    background-color: #EEDDDD;
    box-shadow: 1px 1px 1px 0;
    background-image: url(icons/sync.svg);
    background-size: contain;
}

.card div button:active {
    box-shadow: none;
}

#new-book-form-on {
    border-radius: 40px;
    width: 40px;
    height: 40px;
    background-color: #00ff0d;
    border: 1px solid #999;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0px 2px 2px #333;
    margin-bottom: 10px;
}

#new-book-form-on:active {
    box-shadow: none;
}

dialog[open] {
    border: none;
    background-color: #DDEEEE;
    border: 1px solid black;
    border-radius: 5px;
    position: fixed;
    top: -50%;
}

dialog form {
    display: grid;
    padding: 20px;
    gap: 5px;
}

::backdrop {
    background: #eeeeee99;
}

.library {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.remove-button {
    border-radius: 5px;
    border: 1px solid black;
    padding: 3px 6px;
    font-size: 14px;
    background-color: #ff0055;
    box-shadow: 1px 1px 1px 0;
}

.remove-button:active {
    box-shadow: none;
}

